form {
  margin-top: 1.5%;
  width: 50%;
  margin-bottom: 2.5%;
}
.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #9f3454, #642848);
}
.fund_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://i.pinimg.com/originals/d1/de/05/d1de05fd1cb0f0e30cd0024ba7986869.jpg");
}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

label,
input {
  transition: all 0.3s;
  touch-action: manipulation;
}

input {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  margin-top: 1em;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
  letter-spacing: 0.05em;
}

label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  color: #666;
  transform: translate(0, 2.125rem) scale(0.9);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(0.7);
  cursor: pointer;
}
.sign_up {
  background-color: #9c3353;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  height: 40px;
  border: 1px solid #9c3353;
  margin-top: 5%;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.main_button {
  background-color: #9c3353;
  color: white;
  font-size: 15px;
  width: 100px;
  text-align: center;
  height: 40px;
  border: 1px solid #9c3353;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
  font-weight: bold;
}

.sign_up:hover,
.main_button:hover {
  box-shadow: 0 0 10px 0 rgba(156, 51, 83, 1);
}
.fundRaiser {
  width: 300px;
  height: 50px;
  border-radius: 40px;
  border: none;
  color: white;
  background-color: #9c3353;
  font-size: 18px;
  cursor: pointer;
}

.modal_heading {
  text-align: center;
}
.modal_button {
  background-color: #9c3353;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  height: 40px;
  border: 1px solid #9c3353;
  margin-top: 5%;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.modal_button:hover {
  box-shadow: 0 0 10px 0 rgba(156, 51, 83, 1);
}
